
/* External File */
/* .myFirstID{
    text-align: center;
    color: crimson;
    
    

} */
*{
    margin: 0;
    
}
.backImg{
    width: 100%;
    height: 100vh;
    background-color: crimson;
    background-image: url("orange.png");
    background-repeat: no-repeat;
    background-size: 50ch;
    background-attachment: fixed;
}
.backImg1{
    width: 100%;
    height: 100vh;
    background-color: crimson;
    background-image: url("car.png");
    background-repeat: no-repeat;
    background-size: 50ch;
    background-attachment: fixed;
}
/* Font CSS */
#fontsCSS{
    font-style: italic;
    text-align: center;
    font-family: 'Pushster', cursive;
    font-size: 3em;
 
}
/* text css */
#textCSS{
    text-align: center;
    font-family: 'Pushster', cursive;
    letter-spacing: 5px;
    direction: ltr;
    text-indent: 100px;
    text-transform: uppercase;
    word-spacing: 10px;
    

}
/* Link Color */

a:link{
    color: crimson;
}
a:hover{
    color: green;

}
a:visited{
    color: orange;
}
a:active{
    color: blue;
}

/* Border Radius */
.borderCSS{
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: red;
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    border-radius: 10px;
    
}

ul{
    list-style-type:square;
}
/* List css */
ol{
    list-style-type:upper-roman;
}

/* Box Model CSS */
.boxModel{
    background-color: teal;
    width: 300px;
    height: 100px;
    text-decoration: violet;
}


