*{
    margin: 0;
}

nav{
    background-color: blue;
    height: 12vh;
}

ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main{
   
    background-color: red;
}

.bg{
    height: 344px;
    width: 344px;
    background-image: url("car.png");
    background-repeat: no-repeat;
    background-size: contain;

}