*{
    margin: 0%;
    padding: 0%;
}

.box1{
    height: 5vh;
    width: 100vw;
    background-color: black;
}

.box2{
    min-height: 80vh;
    min-width: 50vw;
  padding: 0%;
    background-color: red;
    display: inline-block;
}
.box3{
    min-height: 80vh;
    min-width: 50vw;
    background-color: green;
    display: inline-block;
    padding: 0%;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}