.container{
    background-color: crimson;
    height: 40px;
    width: 40px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 @keyframes slidein {
    from {
        margin-left: 100%;
        
      }
    
      to {
        margin-left: 0%;
       
      }
 }


