.container{
    background-color: crimson;
    height: 40px;
    width: 40px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: normal;
   
    
}
 @keyframes slidein {
   from{
       scale: (0,0);
   }
   to{
       scale: (3,3);
   }
 }


