*{
    margin: 0%;
    padding: 0%;
}

.header{
    width: 100vw;
    background-color: crimson;
    padding: 25px;
   position: sticky;
   top: 0%;
}


.ul{
    list-style-type: none;
    color: white;
}

.ul li{
    margin-top: 2vh;
    display: inline;
    justify-content: space-between;
   
}

.container1{
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 3;
    
}
